<!DOCTYPE html>
<html>
  <head>
    <title>POSITIVE/NEGATIVE word</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Source : https://github.com/masdevid/ID-OpinionWords</p>
  </body>
</html>
